
#editable:focus {
	background-color: #F5F5FF;
}

.webeditor-cursor {
	width:            1px;

	position:         absolute;
	top:              10px;
	left:             359px;
}
div, p, h1 {
	font-family:      Lato, sans-serif;
}
div, p {
	font-size:        20px;
}
table {
	empty-cells:      show;
}
table, td, th {
	border:           1px solid #000000;
	border-collapse:  collapse;
}
th, td {
	padding:          6px;
}
::selection {
	background:       #FFFF00;
}
